#application
  #frames
  #dashbaord
    #admin
      .button{'data-route' => 'session/create'} login
      .button.hidden{'data-route' => 'post/create'} create post
      .button.hidden{'data-route' => 'toy/create'} create toy
      .button.hidden{'data-route' => 'session/remove'} logout
    #tweet
    #social
      %a{:href => 'http://twitter.com/adam_elliot'}
        %img{:src => "/images/social/twitter.png", :alt => "Twitter"}
      %a{:href => 'http://www.flickr.com/photos/30782515@N02/'}
        %img{:src => "/images/social/flickr.png", :alt => "Flickr"}
      %a{:href => 'http://www.facebook.com/adamelliot'}
        %img{:src => "/images/social/facebook.png", :alt => "Facebook"}
      %a{:href => 'http://www.youtube.com/user/astrobombastic'}
        %img{:src => "/images/social/youtube.png", :alt => "YouTube"}
      %a{:href => 'http://www.reddit.com/user/astro_bombastic/'}
        %img{:src => "/images/social/reddit.png", :alt => "reddit.com"}
      %a{:href => 'http://www.last.fm/user/adamelliot'}
        %img{:src => "/images/social/lastfm.png", :alt => "Last.fm"}
      %a{:href => 'http://ca.linkedin.com/pub/adam-elliot/1/690/899'}
        %img{:src => "/images/social/linkedin.png", :alt => "LinkedIn"}
      /%img{:src => "/images/social/feed.png"}
      %a{:href => 'mailto:adam@adamelliot.com?subject=Hello'}
        %img{:src => "/images/social/email.png", :alt => "Email"}

  #menu
    #adamelliot
      adamelliot
    #toyz{'data-route' => 'toys'}
      toyz
    #blog{'data-route' => 'post'}
      blog
    #pics{'data-route' => 'pics'}
      pics
    #bio{'data-route' => 'bio'}
      bio

#templates
  .shared
    .frame
      .close.button close
      .block
      .toolbar
      .frameChase

    .error
      %h2.title Error
      .message Uh oh...

    .notice
      %h2.title Warning
      .message Are you sure you want to eat that?

  .post.index
    .row
      .date
      %h1.title
      .description

  .post.show
    .date
    %h1.title
    .body
    .comments.disqus_thread

  .post.form
    %form
      %input{:type => 'hidden', :name => 'id'}
      %h3 title:
      %input{:type => 'text', :name => 'title'}
      %h3 body:
      %textarea{:name => 'markdown'}
      %h3 tags:
      %input{:type => 'text', :name => 'tags'}
      %h3 posted:
      %select{:name => 'posted_on_month'}
        - (1..12).each do |month|
          %option{:value => month - 1}= Date::MONTHNAMES[month]
      %select{:name => 'posted_on_day'}
        - (1..31).each do |day|
          %option{:value => day}= day
      %select{:name => 'posted_on_year'}
        - 4.times do |i|
          %option{:value => Date.today.year - i + 1}= Date.today.year - i + 1
      %input{:name => 'draft', :type => 'checkbox'}
      %label{:for => 'draft'} draft
      %input{:name => 'closed', :type => 'checkbox'}
      %label{:for => 'closed'} comments closed

  .toy.index
    .row
      .date
      %h1.title
      .description

  .toy.show
    .date
    %h1.title
    %canvas{:width => 300, :height => 190}
    .clear
    .controls
      .control
        %span ?
        .label fps
      .control
        %span ◼
        .label stop
      .control
        %span ►
        .label play
    .clear
    
    .comments.disqus_thread

  .toy.form
    %form
      %input{:type => 'hidden', :name => 'id'}
      %h3 title:
      %input{:type => 'text', :name => 'title'}
      %h3 javascript:
      %input{:type => 'text', :name => 'javascript'}
      %h3 description:
      %textarea{:name => 'description'}
      %h3 tags:
      %input{:type => 'text', :name => 'tags'}
      %h3 posted:
      %select.posted_on{:name => 'posted_on_month'}
        - (1..12).each do |month|
          %option{:value => month - 1}= Date::MONTHNAMES[month]
      %select.posted_on{:name => 'posted_on_day'}
        - (1..31).each do |day|
          %option{:value => day}= day
      %select.posted_on{:name => 'posted_on_year'}
        - 4.times do |i|
          %option{:value => Date.today.year - i + 1}= Date.today.year - i + 1
      %input{:name => 'draft', :type => 'checkbox'}
      %label{:for => 'draft'} draft
      %input{:name => 'closed', :type => 'checkbox'}
      %label{:for => 'closed'} comments closed

  .session.form
    %form
      %h3 username:
      %input.username{:type => 'text', :name => 'username'}
      %h3 password:
      %input.password{:type => 'password', :name => 'password'}

  .bio
    ME!
